<footer style="position: fixed; bottom: 0; width:100%; z-index: 20;" class="bg-white shadow-sm m-0 ">
  <div class="w-full mx-auto max-w-screen-xl p-4 text-center">
    <span class="text-sm text-gray-500 text-center"
      >&copy; 2025
      <a href="https://flowbite.com/" class="hover:underline">Blip Journal</a>.
      All Rights Reserved.
    </span>
  </div>
</footer>
</html>